#info{
    display: inline-block;
    margin: 40px;
    align-items: center;
}
h3{
    width: 30%;
    display: inline-block;
    margin: 30px;

}
h6{
    width: 30%;
    display: inline-block;
    margin: 30px;

}